* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font face

// @font-face {
//   font-family: monospace;
//   src: url(../fonts/Pepper/TypeMonospaceland-ExtLtObliq.otf);
// }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

//   variables

$primary:#fecd03 !important;
$secondary:#172b4d !important;

//classes

body {
  // font-family: monospace;
  font-family: Roboto;
  background-image: linear-gradient(180deg, #41CABA 0%, #DA2EE2 100%);
}

.btn-cusctom {
  background-color: #d127f8;
  font-size: 44px;
  line-height: 67px;
  padding: -18px;
  text-decoration: none;
  padding: 13px;
  width: 100%;
  border-radius: 70px;
  -webkit-box-shadow: 0px 4px 16px #00000026;
  box-shadow: 0px 4px 16px #00000026;
  color: black;
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 122px;
  color: white !important;
text-transform: uppercase;
  &:before {
    content: '';
    height: 150px;
    width: 17px;
    position: absolute;
    left: 40%;
    background: #e06cfb;
    -webkit-transform: skewY(25deg) rotate(202deg);
    transform: skewY(25deg) rotate(202deg);
    top: -31px;
    bottom: 0;
    z-index: -1;
  }

  &:after {
    content: '';
    height: 167px;
    width: 40px;
    position: absolute;
    left: 47%;
    background: #e06cfb;
    -webkit-transform: skewY(25deg) rotate(202deg);
    transform: skewY(25deg) rotate(202deg);
    top: -36px;
    bottom: 0;
    z-index: -1;
  }

  &:hover {
    transform-origin: center center;
    transform: scale(1.05);
  }

  @media(max-width:600px) {
    margin: 12px auto;
    line-height: 45px !important;
    font-size: 30px;
  }
}


.mint {
  .link-theme {
    background: #13c5eb;
    color: #fff;
    padding: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-decoration: none;
    line-height: 1.1;
    display: block;
  }

  .title {
    margin-top: 16px;
    color: #fff;

    span {
      color: #00C8E8;
    }
  }

  hr {
    border-bottom: 2px solid #E5E7EB;
  }
}


.metamask {
  display: inline-block;
  margin: 50px 0;

  img {
    &:nth-child(2) {
      display: none;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block !important;
      }
    }
  }
}


.navbarCustom {
  margin-top: 25px;
  padding: 0;

  .navbar-brand {
    max-width: 235px;
  }

  .nav-link {
    color: #fff !important;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 0.9rem;
  }
}

.about {
  padding-top: 50px;

  hr {
    margin-top: 50px;
    border-bottom: 2px solid #E5E7EB;
  }

  .para {
    color: #fff;
    font-size: 22px;

    .f-word {
      font-size: 1.9rem;
      line-height: 1.3;
    }
  }
}

.roadmap {
  padding-top: 50px;

  .title {
    font-size: 4.5rem;
    line-height: 1;
    color: #fff;
  }

  hr {
    border-bottom: 2px solid #E5E7EB;
  }
}

.team {

  padding-bottom: 50px;

  .title {
    font-size: 3.5rem;
    line-height: 1;
    color: #00C8E8;
  }

  .teamContent {
    a {
      font-size: 2.25rem;
      line-height: 2.5rem;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

.para {
  color: #fff;
  font-size: 22px;

  .f-word {
    font-size: 2rem;
  }
}

.link-theme {
  background: #13c5eb;
  color: #fff;
  padding: 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.social {
  position: absolute;
  top: 18px;
  right: 52px;
  font-size: 1.5rem;

  i {
    margin-right: 15px;
  }
}

.banner {
  padding-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .item {
    flex: 1;

    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        transform: translateY(22px);
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        line-height: 1;
        color: #fff;

        @media(max-width:600px) {
          font-size: 3rem;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 72px;

      @media(max-width:600px) {
        margin-top: 52px;
      }
    }

    &:nth-child(3) {

      h1 {
        color: #fff;
        font-size: 3rem;
        width: 60%;
        text-align: center;
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;

        @media(max-width:600px) {
          font-size: 1.9rem;
          margin-top: 41px;
          position: relative !important;
        }
      }
    }
  }
}

.swiper-container {
  width: 100%;
  //height: 200px;
}

.swiper-slide {
  color: #000;
  text-align: center;
}